.header{
	text-align: center;
  width: 1000px;
  margin: 0 auto;
}
.heading{
  margin-bottom: 100px;
}
.small-carousel{
	width: 400px;
	position: absolute;
	left: 50%;
	transform: translate(-200px,70px);
}
.score{
  font-size: 25px;
  display: inline-block;
  margin: 0 20px;
}
a:hover, a:active, a:focus{
  outline: none;
  text-decoration: none;
}
ul,li{
  margin: 0;
}
ul li{
  list-style-type: none;
font-size: 30px;
}
.slick-slider{
  font-size: 30px;
  width: 400px;
  margin: 0 auto;
}
.slick-prev:before, .slick-next:before{
  font-size: 30px;
}
.small-carousel .new-game-btn{
	line-height: 25px;
	width: 180px;
	font-size: 15px;
	position: absolute;
	left: 110px;
}
.slick-prev:before, .slick-next:before{
  color: #f00;
}
.submit-lay-btn{
  margin: 40px auto;
  font-size: 25px;
}
.game{
	margin: 0 auto;
	width: 100%;
}
.game-grid{
	background: #eee;
	position: absolute;
	width: 400px;
  display: block;
  height: 400px;
}
.scores{
	font-size: 20px;
}
.game-pos{
	position: absolute;
	left: 50%;
    transform: translate(-190px,0);
}
.game-grid-over{
	background: #eee;
	position: absolute;
	width: 400px;
	opacity: .9;
	height: 400px;
	z-index: 100;
	font-size: 50px;
	line-height: 100px;
	text-align: center;
	transform: translate(-10px,0);
	-webkit-transition: all linear .3s;
	transition: all linear .3s;
}
.game-grid-over.ng-enter{
	transform: translate(-10px,320px)
}
.grid-cell.ng-enter{

}
.btn{
	 font-size: 30px;
	 color: #fff;
    background: #f00;
    width: 170px;
    line-height: 70px;
    font-weight: 600;
    border-radius: 10px;
}
.btn:hover{
	color: #fff;
}
.up-btn{
	line-height: 25px;
	width: 180px;
	font-size: 15px;
	position: absolute;
	left: 75%;
	top: 50%;
}
.new-btn{
    left: 50%;
    transform: translate(-75px,130px);
    position: absolute;
}
.btm-btn{
	transform: translate(-75px,260px);
}
.slick-dots{
  z-index: -1;
}
.reset-game-btn{
  width: auto;
  font-size: 20px;
  line-height: 20px;
  height: 36px;
  margin: 0 10px;
}
.grid-cell{
	background: #ddd;
	float: left;
	z-index: -1;
}
.game-4.grid-cell,.game-4.tile-cell{
	width: 80px;
	height: 80px;
	margin: 10px;
	line-height: 80px;
}
.game-5.grid-cell,.game-5.tile-cell{
	width: 64px;
	height: 64px;
	margin: 8px;
	line-height: 64px;

}
.game-6.grid-cell,.game-6.tile-cell{
	width: 56.66667px;
	height: 56.66667px;
	margin: 5px;
	line-height: 56.66667px;
}
.tile-cell{
	text-align: center;
	z-index: 1;
	position: absolute;
	background: #f00;
	float: left;
	 transition: 0.4s;

}
.tile-cell-enter{
  /*transform: translate(0px, 0px);*/
  /*transition: transform .4s ease-in-out ;*/
}
.tile-cell-enter.tile-cell-enter-active{
  transition: transform 1s ease-in-out;
}
.tile-cell-leave.tile-cell-leave-active{
  transition: transform 1s ease-in-out;
}
.game-4.tile-cell{
	font-size: 55px;
}
.game-5.tile-cell{
	font-size: 55px;
  /*transition: 0.4s;*/
  /*transform: translate(0px, 0px);*/
}
.game-6.tile-cell{
	font-size: 50px;
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: all 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
.tile-merged{
  animation-delay: .1s;
  -webkit-animation: pop-up .3s ease-in;
  animation: pop-up .3s ease-in; 
}
@keyframes pop-up{
	0%{
		-webkit-transform: scale(.5);
		transform: scale(.5);
	}
	100%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
.tile-2{
	background: #fff;
}
.tile-4{
	background: #EAE0C8;
}
.tile-8{
	background: #F59563;
}
.tile-16{
	background: #39f;
}
.tile-32{
	background: #ffa333;
}
.tile-64{
	background: #cef030;
}
.game-4.tile-16,.game-4.tile-32,.game-4.tile-64{
	font-size: 45px;
}
.game-5.tile-16,.game-5.tile-32,.game-5.tile-64{
	font-size: 45px;
}
.game-6.tile-16,.game-6.tile-32,.game-6.tile-64{
	font-size: 40px;
}
.tile-128{
	background: #E8D8CE;
}
.tile-256{
	background: #990303;
	color: #fff;
}
.tile-512{
	background: #6BA5DE;
}
.game-4.tile-128,.game-4.tile-256,.game-4.tile-512{
	font-size: 40px;
}
.game-5.tile-128,.game-5.tile-256,.game-5.tile-512{
	font-size: 36px;
}
.game-6.tile-128,.game-6.tile-256,.game-6.tile-512{
	font-size: 30px;
}
.tile-1024{
	background: #DCAD60;
}
.tile-2048{
	background: #B60022;
}
.game-4.tile-1024,.game-4.tile-2048{
	font-size: 30px;
}
.game-5.tile-1024,.game-5.tile-2048{
	font-size: 24px;
}
.game-6.tile-1024,.game-6.tile-2048{
	font-size: 20px;
}
/*.tile-inner{
	text-align: center;
	line-height: 80px;
}*/
.pos-0-0 {
  transform: translate(0px, 0px);
}

.pos-0-1 {
  transform: translate(0px, 100px);
}

.pos-0-2 {
  transform: translate(0px, 200px);
}

.pos-0-3 {
  transform: translate(0px, 300px);
}

.pos-1-0 {
  transform: translate(100px, 0px);
}

.pos-1-1 {
  transform: translate(100px, 100px);
}

.pos-1-2 {
  transform: translate(100px, 200px);
}

.pos-1-3 {
  transform: translate(100px, 300px);
}

.pos-2-0 {
  transform: translate(200px, 0px);
}

.pos-2-1 {
  transform: translate(200px, 100px);
}

.pos-2-2 {
  transform: translate(200px, 200px);
}

.pos-2-3 {
  transform: translate(200px, 300px);
}

.pos-3-0 {
  transform: translate(300px, 0px);
}

.pos-3-1 {
  transform: translate(300px, 100px);
}

.pos-3-2 {
  transform: translate(300px, 200px);
}

.pos-3-3 {
  transform: translate(300px, 300px);
}
.game-4.pos-0-0 {
  transform: translate(0px, 0px);
}

.game-4.pos-0-1 {
  transform: translate(0px, 100px);
}

.game-4.pos-0-2 {
  transform: translate(0px, 200px);
}

.game-4.pos-0-3 {
  transform: translate(0px, 300px);
}

.game-4.pos-1-0 {
  transform: translate(100px, 0px);
}

.game-4.pos-1-1 {
  transform: translate(100px, 100px);
}

.game-4.pos-1-2 {
  transform: translate(100px, 200px);
}

.game-4.pos-1-3 {
  transform: translate(100px, 300px);
}

.game-4.pos-2-0 {
  transform: translate(200px, 0px);
}

.game-4.pos-2-1 {
  transform: translate(200px, 100px);
}

.game-4.pos-2-2 {
  transform: translate(200px, 200px);
}

.game-4.pos-2-3 {
  transform: translate(200px, 300px);
}

.game-4.pos-3-0 {
  transform: translate(300px, 0px);
}

.game-4.pos-3-1 {
  transform: translate(300px, 100px);
}

.game-4.pos-3-2 {
  transform: translate(300px, 200px);
}

.game-4.pos-3-3 {
  transform: translate(300px, 300px);
}

.game-5.pos-0-0 {
  transform: translate(0px, 0px);
}

.game-5.pos-0-1 {
  transform: translate(0px, 80px);
}

.game-5.pos-0-2 {
  transform: translate(0px, 160px);
}

.game-5.pos-0-3 {
  transform: translate(0px, 240px);
}

.game-5.pos-0-4 {
  transform: translate(0px, 320px);
}

.game-5.pos-1-0 {
  transform: translate(80px, 0px);
}

.game-5.pos-1-1 {
  transform: translate(80px, 80px);
}

.game-5.pos-1-2 {
  transform: translate(80px, 160px);
}

.game-5.pos-1-3 {
  transform: translate(80px, 240px);
}

.game-5.pos-1-4 {
  transform: translate(80px, 320px);
}

.game-5.pos-2-0 {
  transform: translate(160px, 0px);
}

.game-5.pos-2-1 {
  transform: translate(160px, 80px);
}

.game-5.pos-2-2 {
  transform: translate(160px, 160px);
}

.game-5.pos-2-3 {
  transform: translate(160px, 240px);
}

.game-5.pos-2-4 {
  transform: translate(160px, 320px);
}

.game-5.pos-3-0 {
  transform: translate(240px, 0px);
}

.game-5.pos-3-1 {
  transform: translate(240px, 80px);
}

.game-5.pos-3-2 {
  transform: translate(240px, 160px);
}

.game-5.pos-3-3 {
  transform: translate(240px, 240px);
}

.game-5.pos-3-4 {
  transform: translate(240px, 320px);
}

.game-5.pos-4-0 {
  transform: translate(320px, 0px);
}

.game-5.pos-4-1 {
  transform: translate(320px, 80px);
}

.game-5.pos-4-2 {
  transform: translate(320px, 160px);
}

.game-5.pos-4-3 {
  transform: translate(320px, 240px);
}

.game-5.pos-4-4 {
  transform: translate(320px, 320px);
}
.game-6.pos-0-0 {
  transform: translate(0px, 0px);
}

.game-6.pos-0-1 {
  transform: translate(0px, 66.66667px);
}

.game-6.pos-0-2 {
  transform: translate(0px, 133.33333px);
}

.game-6.pos-0-3 {
  transform: translate(0px, 200.0px);
}

.game-6.pos-0-4 {
  transform: translate(0px, 266.66667px);
}

.game-6.pos-0-5 {
  transform: translate(0px, 333.33334px);
}

.game-6.pos-1-0 {
  transform: translate(66.66667px, 0px);
}

.game-6.pos-1-1 {
  transform: translate(66.66667px, 66.66667px);
}

.game-6.pos-1-2 {
  transform: translate(66.66667px, 133.33333px);
}

.game-6.pos-1-3 {
  transform: translate(66.66667px, 200.0px);
}

.game-6.pos-1-4 {
  transform: translate(66.66667px, 266.66667px);
}

.game-6.pos-1-5 {
  transform: translate(66.66667px, 333.33334px);
}

.game-6.pos-2-0 {
  transform: translate(133.33333px, 0px);
}

.game-6.pos-2-1 {
  transform: translate(133.33333px, 66.66667px);
}

.game-6.pos-2-2 {
  transform: translate(133.33333px, 133.33333px);
}

.game-6.pos-2-3 {
  transform: translate(133.33333px, 200.0px);
}

.game-6.pos-2-4 {
  transform: translate(133.33333px, 266.66667px);
}

.game-6.pos-2-5 {
  transform: translate(133.33333px, 333.33334px);
}

.game-6.pos-3-0 {
  transform: translate(200.0px, 0px);
}

.game-6.pos-3-1 {
  transform: translate(200.0px, 66.66667px);
}

.game-6.pos-3-2 {
  transform: translate(200.0px, 133.33333px);
}

.game-6.pos-3-3 {
  transform: translate(200.0px, 200.0px);
}

.game-6.pos-3-4 {
  transform: translate(200.0px, 266.66667px);
}

.game-6.pos-3-5 {
  transform: translate(200.0px, 333.33334px);
}

.game-6.pos-4-0 {
  transform: translate(266.66667px, 0px);
}

.game-6.pos-4-1 {
  transform: translate(266.66667px, 66.66667px);
}

.game-6.pos-4-2 {
  transform: translate(266.66667px, 133.33333px);
}

.game-6.pos-4-3 {
  transform: translate(266.66667px, 200.0px);
}

.game-6.pos-4-4 {
  transform: translate(266.66667px, 266.66667px);
}

.game-6.pos-4-5 {
  transform: translate(266.66667px, 333.33334px);
}

.game-6.pos-5-0 {
  transform: translate(333.33334px, 0px);
}

.game-6.pos-5-1 {
  transform: translate(333.33334px, 66.66667px);
}

.game-6.pos-5-2 {
  transform: translate(333.33334px, 133.33333px);
}

.game-6.pos-5-3 {
  transform: translate(333.33334px, 200.0px);
}

.game-6.pos-5-4 {
  transform: translate(333.33334px, 266.66667px);
}

.game-6.pos-5-5 {
  transform: translate(333.33334px, 333.33334px);
}

.position_0_0:not(.isMoving) {
  top: 0px;
  left: 0px;
}

.position_0_1:not(.isMoving) {
  top: 0px;
  left: 100px;
}

.position_0_2:not(.isMoving) {
  top: 0px; 
  left: 200px;
}

.position_0_3:not(.isMoving) {
  top: 0px;
  left: 300px;
}

.position_1_0:not(.isMoving) {
  top: 100px;
  left: 0px;
}

.position_1_1:not(.isMoving) {
  top: 100px;
  left: 100px;
}

.position_1_2:not(.isMoving) {
  top: 100px;
  left: 200px;
}

.position_1_3:not(.isMoving) {
  top: 100px;
  left: 300px;
}

.position_2_0:not(.isMoving) {
  top: 200px;
  left: 0px;
}

.position_2_1:not(.isMoving) {
  top: 200px;
  left: 100px;
}

.position_2_2:not(.isMoving) {
  top: 200px;
  left: 200px;
}

.position_2_3:not(.isMoving) {
  top: 200px;
  left: 300px;
}

.position_3_0:not(.isMoving) {
  top: 300px;
  left: 0px;
}

.position_3_1:not(.isMoving) {
  top: 300px;
  left: 100px;
}

.position_3_2:not(.isMoving) {
  top: 300px;
  left: 200px;
}

.position_3_3:not(.isMoving) {
  top: 300px;
  left: 300px;
}

.row_from_0_to_0 {
  top: 0px;
}

.row_from_0_to_1 {
  animation-duration: 0.20s;
  animation-name: row_from_0_to_1;
  animation-fill-mode: forwards;
}

@keyframes row_from_0_to_1 {
  from {
    top: 0px;
  }
  to {
    top: 100px;
  }
}
.row_from_0_to_2 {
  animation-duration: 0.20s;
  animation-name: row_from_0_to_2;
  animation-fill-mode: forwards;
}

@keyframes row_from_0_to_2 {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}
.row_from_0_to_3 {
  animation-duration: 0.20s;
  animation-name: row_from_0_to_3;
  animation-fill-mode: forwards;
}

@keyframes row_from_0_to_3 {
  from {
    top: 0px;
  }
  to {
    top: 300px;
  }
}
.row_from_1_to_0 {
  animation-duration: 0.20s;
  animation-name: row_from_1_to_0;
  animation-fill-mode: forwards;
}

@keyframes row_from_1_to_0 {
  from {
    top: 100px;
  }
  to {
    top: 0px;
  }
}
.row_from_1_to_1 {
  top: 100px;
}

.row_from_1_to_2 {
  animation-duration: 0.20s;
  animation-name: row_from_1_to_2;
  animation-fill-mode: forwards;
}

@keyframes row_from_1_to_2 {
  from {
    top: 100px;
  }
  to {
    top: 200px;
  }
}
.row_from_1_to_3 {
  animation-duration: 0.20s;
  animation-name: row_from_1_to_3;
  animation-fill-mode: forwards;
}

@keyframes row_from_1_to_3 {
  from {
    top: 100px;
  }
  to {
    top: 300px;
  }
}
.row_from_2_to_0 {
  animation-duration: 0.20s;
  animation-name: row_from_2_to_0;
  animation-fill-mode: forwards;
}

@keyframes row_from_2_to_0 {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}
.row_from_2_to_1 {
  animation-duration: 0.20s;
  animation-name: row_from_2_to_1;
  animation-fill-mode: forwards;
}

@keyframes row_from_2_to_1 {
  from {
    top: 200px;
  }
  to {
    top: 100px;
  }
}
.row_from_2_to_2 {
  top: 200px;
}

.row_from_2_to_3 {
  animation-duration: 0.20s;
  animation-name: row_from_2_to_3;
  animation-fill-mode: forwards;
}

@keyframes row_from_2_to_3 {
  from {
    top: 200px;
  }
  to {
    top: 300px;
  }
}
.row_from_3_to_0 {
  animation-duration: 0.20s;
  animation-name: row_from_3_to_0;
  animation-fill-mode: forwards;
}

@keyframes row_from_3_to_0 {
  from {
    top: 300px;
  }
  to {
    top: 0px;
  }
}
.row_from_3_to_1 {
  animation-duration: 0.20s;
  animation-name: row_from_3_to_1;
  animation-fill-mode: forwards;
}

@keyframes row_from_3_to_1 {
  from {
    top: 300px;
  }
  to {
    top: 100px;
  }
}
.row_from_3_to_2 {
  animation-duration: 0.20s;
  animation-name: row_from_3_to_2;
  animation-fill-mode: forwards;
}

@keyframes row_from_3_to_2 {
  from {
    top: 300px;
  }
  to {
    top: 200px;
  }
}
.row_from_3_to_3 {
  top: 300px;
}

.column_from_0_to_0 {
  left: 0px;
}

.column_from_0_to_1 {
  animation-duration: 0.20s;
  animation-name: column_from_0_to_1;
  animation-fill-mode: forwards;
}

@keyframes column_from_0_to_1 {
  from {
    left: 0px;
  }
  to {
    left: 100px;
  }
}
.column_from_0_to_2 {
  animation-duration: 0.20s;
  animation-name: column_from_0_to_2;
  animation-fill-mode: forwards;
}

@keyframes column_from_0_to_2 {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}
.column_from_0_to_3 {
  animation-duration: 0.20s;
  animation-name: column_from_0_to_3;
  animation-fill-mode: forwards;
}

@keyframes column_from_0_to_3 {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}
.column_from_1_to_0 {
  animation-duration: 0.20s;
  animation-name: column_from_1_to_0;
  animation-fill-mode: forwards;
}

@keyframes column_from_1_to_0 {
  from {
    left: 100px;
  }
  to {
    left: 0px;
  }
}
.column_from_1_to_1 {
  left: 100px;
}

.column_from_1_to_2 {
  animation-duration: 0.20s;
  animation-name: column_from_1_to_2;
  animation-fill-mode: forwards;
}

@keyframes column_from_1_to_2 {
  from {
    left: 100px;
  }
  to {
    left: 200px;
  }
}
.column_from_1_to_3 {
  animation-duration: 0.20s;
  animation-name: column_from_1_to_3;
  animation-fill-mode: forwards;
}

@keyframes column_from_1_to_3 {
  from {
    left: 100px;
  }
  to {
    left: 300px;
  }
}
.column_from_2_to_0 {
  animation-duration: 0.20s;
  animation-name: column_from_2_to_0;
  animation-fill-mode: forwards;
}

@keyframes column_from_2_to_0 {
  from {
    left: 200px;
  }
  to {
    left: 0px;
  }
}
.column_from_2_to_1 {
  animation-duration: 0.20s;
  animation-name: column_from_2_to_1;
  animation-fill-mode: forwards;
}

@keyframes column_from_2_to_1 {
  from {
    left: 200px;
  }
  to {
    left: 100px;
  }
}
.column_from_2_to_2 {
  left: 200px;
}

.column_from_2_to_3 {
  animation-duration: 0.20s;
  animation-name: column_from_2_to_3;
  animation-fill-mode: forwards;
}

@keyframes column_from_2_to_3 {
  from {
    left: 200px;
  }
  to {
    left: 300px;
  }
}
.column_from_3_to_0 {
  animation-duration: 0.20s;
  animation-name: column_from_3_to_0;
  animation-fill-mode: forwards;
}

@keyframes column_from_3_to_0 {
  from {
    left: 300px;
  }
  to {
    left: 0px;
  }
}
.column_from_3_to_1 {
  animation-duration: 0.20s;
  animation-name: column_from_3_to_1;
  animation-fill-mode: forwards;
}

@keyframes column_from_3_to_1 {
  from {
    left: 300px;
  }
  to {
    left: 100px;
  }
}
.column_from_3_to_2 {
  animation-duration: 0.20s;
  animation-name: column_from_3_to_2;
  animation-fill-mode: forwards;
}

@keyframes column_from_3_to_2 {
  from {
    left: 300px;
  }
  to {
    left: 200px;
  }
}
.column_from_3_to_3 {
  left: 300px;
}
.game_4.position_0_0:not(.isMoving) {
  top: 0px;
  left: 0px;
}

.game_4.position_0_1:not(.isMoving) {
  top: 0px;
  left: 100px;
}

.game_4.position_0_2:not(.isMoving) {
  top: 0px;
  left: 200px;
}

.game_4.position_0_3:not(.isMoving) {
  top: 0px;
  left: 300px;
}

.game_4.position_1_0:not(.isMoving) {
  top: 100px;
  left: 0px;
}

.game_4.position_1_1:not(.isMoving) {
  top: 100px;
  left: 100px;
}

.game_4.position_1_2:not(.isMoving) {
  top: 100px;
  left: 200px;
}

.game_4.position_1_3:not(.isMoving) {
  top: 100px;
  left: 300px;
}

.game_4.position_2_0:not(.isMoving) {
  top: 200px;
  left: 0px;
}

.game_4.position_2_1:not(.isMoving) {
  top: 200px;
  left: 100px;
}

.game_4.position_2_2:not(.isMoving) {
  top: 200px;
  left: 200px;
}

.game_4.position_2_3:not(.isMoving) {
  top: 200px;
  left: 300px;
}

.game_4.position_3_0:not(.isMoving) {
  top: 300px;
  left: 0px;
}

.game_4.position_3_1:not(.isMoving) {
  top: 300px;
  left: 100px;
}

.game_4.position_3_2:not(.isMoving) {
  top: 300px;
  left: 200px;
}

.game_4.position_3_3:not(.isMoving) {
  top: 300px;
  left: 300px;
}

.game_4.row_from_0_to_0 {
  top: 0px;
}

.game_4.row_from_0_to_1 {
  animation-duration: 0.30s;
  animation-name: game_4row_from_0_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_4row_from_0_to_1 {
  from {
    top: 0px;
  }
  to {
    top: 100px;
  }
}
.game_4.row_from_0_to_2 {
  animation-duration: 0.30s;
  animation-name: game_4row_from_0_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_4row_from_0_to_2 {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}
.game_4.row_from_0_to_3 {
  animation-duration: 0.30s;
  animation-name: game_4row_from_0_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_4row_from_0_to_3 {
  from {
    top: 0px;
  }
  to {
    top: 300px;
  }
}
.game_4.row_from_1_to_0 {
  animation-duration: 0.30s;
  animation-name: game_4row_from_1_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_4row_from_1_to_0 {
  from {
    top: 100px;
  }
  to {
    top: 0px;
  }
}
.game_4.row_from_1_to_1 {
  top: 100px;
}

.game_4.row_from_1_to_2 {
  animation-duration: 0.30s;
  animation-name: game_4row_from_1_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_4row_from_1_to_2 {
  from {
    top: 100px;
  }
  to {
    top: 200px;
  }
}
.game_4.row_from_1_to_3 {
  animation-duration: 0.30s;
  animation-name: game_4row_from_1_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_4row_from_1_to_3 {
  from {
    top: 100px;
  }
  to {
    top: 300px;
  }
}
.game_4.row_from_2_to_0 {
  animation-duration: 0.30s;
  animation-name: game_4row_from_2_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_4row_from_2_to_0 {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}
.game_4.row_from_2_to_1 {
  animation-duration: 0.30s;
  animation-name: game_4row_from_2_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_4row_from_2_to_1 {
  from {
    top: 200px;
  }
  to {
    top: 100px;
  }
}
.game_4.row_from_2_to_2 {
  top: 200px;
}

.game_4.row_from_2_to_3 {
  animation-duration: 0.30s;
  animation-name: game_4row_from_2_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_4row_from_2_to_3 {
  from {
    top: 200px;
  }
  to {
    top: 300px;
  }
}
.game_4.row_from_3_to_0 {
  animation-duration: 0.30s;
  animation-name: game_4row_from_3_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_4row_from_3_to_0 {
  from {
    top: 300px;
  }
  to {
    top: 0px;
  }
}
.game_4.row_from_3_to_1 {
  animation-duration: 0.30s;
  animation-name: game_4row_from_3_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_4row_from_3_to_1 {
  from {
    top: 300px;
  }
  to {
    top: 100px;
  }
}
.game_4.row_from_3_to_2 {
  animation-duration: 0.30s;
  animation-name: game_4row_from_3_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_4row_from_3_to_2 {
  from {
    top: 300px;
  }
  to {
    top: 200px;
  }
}
.game_4.row_from_3_to_3 {
  top: 300px;
}

.game_4.column_from_0_to_0 {
  left: 0px;
}

.game_4.column_from_0_to_1 {
  animation-duration: 0.30s;
  animation-name: game_4column_from_0_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_4column_from_0_to_1 {
  from {
    left: 0px;
  }
  to {
    left: 100px;
  }
}
.game_4.column_from_0_to_2 {
  animation-duration: 0.30s;
  animation-name: game_4column_from_0_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_4column_from_0_to_2 {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}
.game_4.column_from_0_to_3 {
  animation-duration: 0.30s;
  animation-name: game_4column_from_0_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_4column_from_0_to_3 {
  from {
    left: 0px;
  }
  to {
    left: 300px;
  }
}
.game_4.column_from_1_to_0 {
  animation-duration: 0.30s;
  animation-name: game_4column_from_1_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_4column_from_1_to_0 {
  from {
    left: 100px;
  }
  to {
    left: 0px;
  }
}
.game_4.column_from_1_to_1 {
  left: 100px;
}

.game_4.column_from_1_to_2 {
  animation-duration: 0.30s;
  animation-name: game_4column_from_1_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_4column_from_1_to_2 {
  from {
    left: 100px;
  }
  to {
    left: 200px;
  }
}
.game_4.column_from_1_to_3 {
  animation-duration: 0.30s;
  animation-name: game_4column_from_1_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_4column_from_1_to_3 {
  from {
    left: 100px;
  }
  to {
    left: 300px;
  }
}
.game_4.column_from_2_to_0 {
  animation-duration: 0.30s;
  animation-name: game_4column_from_2_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_4column_from_2_to_0 {
  from {
    left: 200px;
  }
  to {
    left: 0px;
  }
}
.game_4.column_from_2_to_1 {
  animation-duration: 0.30s;
  animation-name: game_4column_from_2_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_4column_from_2_to_1 {
  from {
    left: 200px;
  }
  to {
    left: 100px;
  }
}
.game_4.column_from_2_to_2 {
  left: 200px;
}

.game_4.column_from_2_to_3 {
  animation-duration: 0.30s;
  animation-name: game_4column_from_2_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_4column_from_2_to_3 {
  from {
    left: 200px;
  }
  to {
    left: 300px;
  }
}
.game_4.column_from_3_to_0 {
  animation-duration: 0.30s;
  animation-name: game_4column_from_3_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_4column_from_3_to_0 {
  from {
    left: 300px;
  }
  to {
    left: 0px;
  }
}
.game_4.column_from_3_to_1 {
  animation-duration: 0.30s;
  animation-name: game_4column_from_3_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_4column_from_3_to_1 {
  from {
    left: 300px;
  }
  to {
    left: 100px;
  }
}
.game_4.column_from_3_to_2 {
  animation-duration: 0.30s;
  animation-name: game_4column_from_3_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_4column_from_3_to_2 {
  from {
    left: 300px;
  }
  to {
    left: 200px;
  }
}
.game_4.column_from_3_to_3 {
  left: 300px;
}

.game_5.position_0_0:not(.isMoving) {
  top: 0px;
  left: 0px;
}

.game_5.position_0_1:not(.isMoving) {
  top: 0px;
  left: 80px;
}

.game_5.position_0_2:not(.isMoving) {
  top: 0px;
  left: 160px;
}

.game_5.position_0_3:not(.isMoving) {
  top: 0px;
  left: 240px;
}

.game_5.position_0_4:not(.isMoving) {
  top: 0px;
  left: 320px;
}

.game_5.position_1_0:not(.isMoving) {
  top: 80px;
  left: 0px;
}

.game_5.position_1_1:not(.isMoving) {
  top: 80px;
  left: 80px;
}

.game_5.position_1_2:not(.isMoving) {
  top: 80px;
  left: 160px;
}

.game_5.position_1_3:not(.isMoving) {
  top: 80px;
  left: 240px;
}

.game_5.position_1_4:not(.isMoving) {
  top: 80px;
  left: 320px;
}

.game_5.position_2_0:not(.isMoving) {
  top: 160px;
  left: 0px;
}

.game_5.position_2_1:not(.isMoving) {
  top: 160px;
  left: 80px;
}

.game_5.position_2_2:not(.isMoving) {
  top: 160px;
  left: 160px;
}

.game_5.position_2_3:not(.isMoving) {
  top: 160px;
  left: 240px;
}

.game_5.position_2_4:not(.isMoving) {
  top: 160px;
  left: 320px;
}

.game_5.position_3_0:not(.isMoving) {
  top: 240px;
  left: 0px;
}

.game_5.position_3_1:not(.isMoving) {
  top: 240px;
  left: 80px;
}

.game_5.position_3_2:not(.isMoving) {
  top: 240px;
  left: 160px;
}

.game_5.position_3_3:not(.isMoving) {
  top: 240px;
  left: 240px;
}

.game_5.position_3_4:not(.isMoving) {
  top: 240px;
  left: 320px;
}

.game_5.position_4_0:not(.isMoving) {
  top: 320px;
  left: 0px;
}

.game_5.position_4_1:not(.isMoving) {
  top: 320px;
  left: 80px;
}

.game_5.position_4_2:not(.isMoving) {
  top: 320px;
  left: 160px;
}

.game_5.position_4_3:not(.isMoving) {
  top: 320px;
  left: 240px;
}

.game_5.position_4_4:not(.isMoving) {
  top: 320px;
  left: 320px;
}

.game_5.row_from_0_to_0 {
  top: 0px;
}

.game_5.row_from_0_to_1 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_0_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_0_to_1 {
  from {
    top: 0px;
  }
  to {
    top: 80px;
  }
}
.game_5.row_from_0_to_2 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_0_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_0_to_2 {
  from {
    top: 0px;
  }
  to {
    top: 160px;
  }
}
.game_5.row_from_0_to_3 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_0_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_0_to_3 {
  from {
    top: 0px;
  }
  to {
    top: 240px;
  }
}
.game_5.row_from_0_to_4 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_0_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_0_to_4 {
  from {
    top: 0px;
  }
  to {
    top: 320px;
  }
}
.game_5.row_from_1_to_0 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_1_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_1_to_0 {
  from {
    top: 80px;
  }
  to {
    top: 0px;
  }
}
.game_5.row_from_1_to_1 {
  top: 80px;
}

.game_5.row_from_1_to_2 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_1_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_1_to_2 {
  from {
    top: 80px;
  }
  to {
    top: 160px;
  }
}
.game_5.row_from_1_to_3 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_1_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_1_to_3 {
  from {
    top: 80px;
  }
  to {
    top: 240px;
  }
}
.game_5.row_from_1_to_4 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_1_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_1_to_4 {
  from {
    top: 80px;
  }
  to {
    top: 320px;
  }
}
.game_5.row_from_2_to_0 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_2_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_2_to_0 {
  from {
    top: 160px;
  }
  to {
    top: 0px;
  }
}
.game_5.row_from_2_to_1 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_2_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_2_to_1 {
  from {
    top: 160px;
  }
  to {
    top: 80px;
  }
}
.game_5.row_from_2_to_2 {
  top: 160px;
}

.game_5.row_from_2_to_3 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_2_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_2_to_3 {
  from {
    top: 160px;
  }
  to {
    top: 240px;
  }
}
.game_5.row_from_2_to_4 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_2_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_2_to_4 {
  from {
    top: 160px;
  }
  to {
    top: 320px;
  }
}
.game_5.row_from_3_to_0 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_3_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_3_to_0 {
  from {
    top: 240px;
  }
  to {
    top: 0px;
  }
}
.game_5.row_from_3_to_1 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_3_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_3_to_1 {
  from {
    top: 240px;
  }
  to {
    top: 80px;
  }
}
.game_5.row_from_3_to_2 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_3_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_3_to_2 {
  from {
    top: 240px;
  }
  to {
    top: 160px;
  }
}
.game_5.row_from_3_to_3 {
  top: 240px;
}

.game_5.row_from_3_to_4 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_3_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_3_to_4 {
  from {
    top: 240px;
  }
  to {
    top: 320px;
  }
}
.game_5.row_from_4_to_0 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_4_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_4_to_0 {
  from {
    top: 320px;
  }
  to {
    top: 0px;
  }
}
.game_5.row_from_4_to_1 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_4_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_4_to_1 {
  from {
    top: 320px;
  }
  to {
    top: 80px;
  }
}
.game_5.row_from_4_to_2 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_4_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_4_to_2 {
  from {
    top: 320px;
  }
  to {
    top: 160px;
  }
}
.game_5.row_from_4_to_3 {
  animation-duration: 0.30s;
  animation-name: game_5row_from_4_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_5row_from_4_to_3 {
  from {
    top: 320px;
  }
  to {
    top: 240px;
  }
}
.game_5.row_from_4_to_4 {
  top: 320px;
}

.game_5.column_from_0_to_0 {
  left: 0px;
}

.game_5.column_from_0_to_1 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_0_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_0_to_1 {
  from {
    left: 0px;
  }
  to {
    left: 80px;
  }
}
.game_5.column_from_0_to_2 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_0_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_0_to_2 {
  from {
    left: 0px;
  }
  to {
    left: 160px;
  }
}
.game_5.column_from_0_to_3 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_0_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_0_to_3 {
  from {
    left: 0px;
  }
  to {
    left: 240px;
  }
}
.game_5.column_from_0_to_4 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_0_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_0_to_4 {
  from {
    left: 0px;
  }
  to {
    left: 320px;
  }
}
.game_5.column_from_1_to_0 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_1_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_1_to_0 {
  from {
    left: 80px;
  }
  to {
    left: 0px;
  }
}
.game_5.column_from_1_to_1 {
  left: 80px;
}

.game_5.column_from_1_to_2 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_1_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_1_to_2 {
  from {
    left: 80px;
  }
  to {
    left: 160px;
  }
}
.game_5.column_from_1_to_3 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_1_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_1_to_3 {
  from {
    left: 80px;
  }
  to {
    left: 240px;
  }
}
.game_5.column_from_1_to_4 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_1_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_1_to_4 {
  from {
    left: 80px;
  }
  to {
    left: 320px;
  }
}
.game_5.column_from_2_to_0 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_2_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_2_to_0 {
  from {
    left: 160px;
  }
  to {
    left: 0px;
  }
}
.game_5.column_from_2_to_1 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_2_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_2_to_1 {
  from {
    left: 160px;
  }
  to {
    left: 80px;
  }
}
.game_5.column_from_2_to_2 {
  left: 160px;
}

.game_5.column_from_2_to_3 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_2_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_2_to_3 {
  from {
    left: 160px;
  }
  to {
    left: 240px;
  }
}
.game_5.column_from_2_to_4 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_2_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_2_to_4 {
  from {
    left: 160px;
  }
  to {
    left: 320px;
  }
}
.game_5.column_from_3_to_0 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_3_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_3_to_0 {
  from {
    left: 240px;
  }
  to {
    left: 0px;
  }
}
.game_5.column_from_3_to_1 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_3_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_3_to_1 {
  from {
    left: 240px;
  }
  to {
    left: 80px;
  }
}
.game_5.column_from_3_to_2 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_3_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_3_to_2 {
  from {
    left: 240px;
  }
  to {
    left: 160px;
  }
}
.game_5.column_from_3_to_3 {
  left: 240px;
}

.game_5.column_from_3_to_4 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_3_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_3_to_4 {
  from {
    left: 240px;
  }
  to {
    left: 320px;
  }
}
.game_5.column_from_4_to_0 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_4_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_4_to_0 {
  from {
    left: 320px;
  }
  to {
    left: 0px;
  }
}
.game_5.column_from_4_to_1 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_4_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_4_to_1 {
  from {
    left: 320px;
  }
  to {
    left: 80px;
  }
}
.game_5.column_from_4_to_2 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_4_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_4_to_2 {
  from {
    left: 320px;
  }
  to {
    left: 160px;
  }
}
.game_5.column_from_4_to_3 {
  animation-duration: 0.30s;
  animation-name: game_5column_from_4_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_5column_from_4_to_3 {
  from {
    left: 320px;
  }
  to {
    left: 240px;
  }
}
.game_5.column_from_4_to_4 {
  left: 320px;
}

.game_6.position_0_0:not(.isMoving) {
  top: 0px;
  left: 0px;
}

.game_6.position_0_1:not(.isMoving) {
  top: 0px;
  left: 66.66667px;
}

.game_6.position_0_2:not(.isMoving) {
  top: 0px;
  left: 133.33333px;
}

.game_6.position_0_3:not(.isMoving) {
  top: 0px;
  left: 200px;
}

.game_6.position_0_4:not(.isMoving) {
  top: 0px;
  left: 266.66667px;
}

.game_6.position_0_5:not(.isMoving) {
  top: 0px;
  left: 333.33333px;
}

.game_6.position_1_0:not(.isMoving) {
  top: 66.66667px;
  left: 0px;
}

.game_6.position_1_1:not(.isMoving) {
  top: 66.66667px;
  left: 66.66667px;
}

.game_6.position_1_2:not(.isMoving) {
  top: 66.66667px;
  left: 133.33333px;
}

.game_6.position_1_3:not(.isMoving) {
  top: 66.66667px;
  left: 200px;
}

.game_6.position_1_4:not(.isMoving) {
  top: 66.66667px;
  left: 266.66667px;
}

.game_6.position_1_5:not(.isMoving) {
  top: 66.66667px;
  left: 333.33333px;
}

.game_6.position_2_0:not(.isMoving) {
  top: 133.33333px;
  left: 0px;
}

.game_6.position_2_1:not(.isMoving) {
  top: 133.33333px;
  left: 66.66667px;
}

.game_6.position_2_2:not(.isMoving) {
  top: 133.33333px;
  left: 133.33333px;
}

.game_6.position_2_3:not(.isMoving) {
  top: 133.33333px;
  left: 200px;
}

.game_6.position_2_4:not(.isMoving) {
  top: 133.33333px;
  left: 266.66667px;
}

.game_6.position_2_5:not(.isMoving) {
  top: 133.33333px;
  left: 333.33333px;
}

.game_6.position_3_0:not(.isMoving) {
  top: 200px;
  left: 0px;
}

.game_6.position_3_1:not(.isMoving) {
  top: 200px;
  left: 66.66667px;
}

.game_6.position_3_2:not(.isMoving) {
  top: 200px;
  left: 133.33333px;
}

.game_6.position_3_3:not(.isMoving) {
  top: 200px;
  left: 200px;
}

.game_6.position_3_4:not(.isMoving) {
  top: 200px;
  left: 266.66667px;
}

.game_6.position_3_5:not(.isMoving) {
  top: 200px;
  left: 333.33333px;
}

.game_6.position_4_0:not(.isMoving) {
  top: 266.66667px;
  left: 0px;
}

.game_6.position_4_1:not(.isMoving) {
  top: 266.66667px;
  left: 66.66667px;
}

.game_6.position_4_2:not(.isMoving) {
  top: 266.66667px;
  left: 133.33333px;
}

.game_6.position_4_3:not(.isMoving) {
  top: 266.66667px;
  left: 200px;
}

.game_6.position_4_4:not(.isMoving) {
  top: 266.66667px;
  left: 266.66667px;
}

.game_6.position_4_5:not(.isMoving) {
  top: 266.66667px;
  left: 333.33333px;
}

.game_6.position_5_0:not(.isMoving) {
  top: 333.33333px;
  left: 0px;
}

.game_6.position_5_1:not(.isMoving) {
  top: 333.33333px;
  left: 66.66667px;
}

.game_6.position_5_2:not(.isMoving) {
  top: 333.33333px;
  left: 133.33333px;
}

.game_6.position_5_3:not(.isMoving) {
  top: 333.33333px;
  left: 200px;
}

.game_6.position_5_4:not(.isMoving) {
  top: 333.33333px;
  left: 266.66667px;
}

.game_6.position_5_5:not(.isMoving) {
  top: 333.33333px;
  left: 333.33333px;
}

.game_6.row_from_0_to_0 {
  top: 0px;
}

.game_6.row_from_0_to_1 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_0_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_0_to_1 {
  from {
    top: 0px;
  }
  to {
    top: 66.66667px;
  }
}
.game_6.row_from_0_to_2 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_0_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_0_to_2 {
  from {
    top: 0px;
  }
  to {
    top: 133.33333px;
  }
}
.game_6.row_from_0_to_3 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_0_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_0_to_3 {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}
.game_6.row_from_0_to_4 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_0_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_0_to_4 {
  from {
    top: 0px;
  }
  to {
    top: 266.66667px;
  }
}
.game_6.row_from_0_to_5 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_0_to_5;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_0_to_5 {
  from {
    top: 0px;
  }
  to {
    top: 333.33333px;
  }
}
.game_6.row_from_1_to_0 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_1_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_1_to_0 {
  from {
    top: 66.66667px;
  }
  to {
    top: 0px;
  }
}
.game_6.row_from_1_to_1 {
  top: 66.66667px;
}

.game_6.row_from_1_to_2 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_1_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_1_to_2 {
  from {
    top: 66.66667px;
  }
  to {
    top: 133.33333px;
  }
}
.game_6.row_from_1_to_3 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_1_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_1_to_3 {
  from {
    top: 66.66667px;
  }
  to {
    top: 200px;
  }
}
.game_6.row_from_1_to_4 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_1_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_1_to_4 {
  from {
    top: 66.66667px;
  }
  to {
    top: 266.66667px;
  }
}
.game_6.row_from_1_to_5 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_1_to_5;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_1_to_5 {
  from {
    top: 66.66667px;
  }
  to {
    top: 333.33333px;
  }
}
.game_6.row_from_2_to_0 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_2_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_2_to_0 {
  from {
    top: 133.33333px;
  }
  to {
    top: 0px;
  }
}
.game_6.row_from_2_to_1 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_2_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_2_to_1 {
  from {
    top: 133.33333px;
  }
  to {
    top: 66.66667px;
  }
}
.game_6.row_from_2_to_2 {
  top: 133.33333px;
}

.game_6.row_from_2_to_3 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_2_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_2_to_3 {
  from {
    top: 133.33333px;
  }
  to {
    top: 200px;
  }
}
.game_6.row_from_2_to_4 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_2_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_2_to_4 {
  from {
    top: 133.33333px;
  }
  to {
    top: 266.66667px;
  }
}
.game_6.row_from_2_to_5 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_2_to_5;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_2_to_5 {
  from {
    top: 133.33333px;
  }
  to {
    top: 333.33333px;
  }
}
.game_6.row_from_3_to_0 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_3_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_3_to_0 {
  from {
    top: 200px;
  }
  to {
    top: 0px;
  }
}
.game_6.row_from_3_to_1 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_3_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_3_to_1 {
  from {
    top: 200px;
  }
  to {
    top: 66.66667px;
  }
}
.game_6.row_from_3_to_2 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_3_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_3_to_2 {
  from {
    top: 200px;
  }
  to {
    top: 133.33333px;
  }
}
.game_6.row_from_3_to_3 {
  top: 200px;
}

.game_6.row_from_3_to_4 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_3_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_3_to_4 {
  from {
    top: 200px;
  }
  to {
    top: 266.66667px;
  }
}
.game_6.row_from_3_to_5 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_3_to_5;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_3_to_5 {
  from {
    top: 200px;
  }
  to {
    top: 333.33333px;
  }
}
.game_6.row_from_4_to_0 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_4_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_4_to_0 {
  from {
    top: 266.66667px;
  }
  to {
    top: 0px;
  }
}
.game_6.row_from_4_to_1 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_4_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_4_to_1 {
  from {
    top: 266.66667px;
  }
  to {
    top: 66.66667px;
  }
}
.game_6.row_from_4_to_2 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_4_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_4_to_2 {
  from {
    top: 266.66667px;
  }
  to {
    top: 133.33333px;
  }
}
.game_6.row_from_4_to_3 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_4_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_4_to_3 {
  from {
    top: 266.66667px;
  }
  to {
    top: 200px;
  }
}
.game_6.row_from_4_to_4 {
  top: 266.66667px;
}

.game_6.row_from_4_to_5 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_4_to_5;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_4_to_5 {
  from {
    top: 266.66667px;
  }
  to {
    top: 333.33333px;
  }
}
.game_6.row_from_5_to_0 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_5_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_5_to_0 {
  from {
    top: 333.33333px;
  }
  to {
    top: 0px;
  }
}
.game_6.row_from_5_to_1 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_5_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_5_to_1 {
  from {
    top: 333.33333px;
  }
  to {
    top: 66.66667px;
  }
}
.game_6.row_from_5_to_2 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_5_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_5_to_2 {
  from {
    top: 333.33333px;
  }
  to {
    top: 133.33333px;
  }
}
.game_6.row_from_5_to_3 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_5_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_5_to_3 {
  from {
    top: 333.33333px;
  }
  to {
    top: 200px;
  }
}
.game_6.row_from_5_to_4 {
  animation-duration: 0.30s;
  animation-name: game_6row_from_5_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_6row_from_5_to_4 {
  from {
    top: 333.33333px;
  }
  to {
    top: 266.66667px;
  }
}
.game_6.row_from_5_to_5 {
  top: 333.33333px;
}

.game_6.column_from_0_to_0 {
  left: 0px;
}

.game_6.column_from_0_to_1 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_0_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_0_to_1 {
  from {
    left: 0px;
  }
  to {
    left: 66.66667px;
  }
}
.game_6.column_from_0_to_2 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_0_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_0_to_2 {
  from {
    left: 0px;
  }
  to {
    left: 133.33333px;
  }
}
.game_6.column_from_0_to_3 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_0_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_0_to_3 {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}
.game_6.column_from_0_to_4 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_0_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_0_to_4 {
  from {
    left: 0px;
  }
  to {
    left: 266.66667px;
  }
}
.game_6.column_from_0_to_5 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_0_to_5;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_0_to_5 {
  from {
    left: 0px;
  }
  to {
    left: 333.33333px;
  }
}
.game_6.column_from_1_to_0 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_1_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_1_to_0 {
  from {
    left: 66.66667px;
  }
  to {
    left: 0px;
  }
}
.game_6.column_from_1_to_1 {
  left: 66.66667px;
}

.game_6.column_from_1_to_2 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_1_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_1_to_2 {
  from {
    left: 66.66667px;
  }
  to {
    left: 133.33333px;
  }
}
.game_6.column_from_1_to_3 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_1_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_1_to_3 {
  from {
    left: 66.66667px;
  }
  to {
    left: 200px;
  }
}
.game_6.column_from_1_to_4 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_1_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_1_to_4 {
  from {
    left: 66.66667px;
  }
  to {
    left: 266.66667px;
  }
}
.game_6.column_from_1_to_5 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_1_to_5;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_1_to_5 {
  from {
    left: 66.66667px;
  }
  to {
    left: 333.33333px;
  }
}
.game_6.column_from_2_to_0 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_2_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_2_to_0 {
  from {
    left: 133.33333px;
  }
  to {
    left: 0px;
  }
}
.game_6.column_from_2_to_1 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_2_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_2_to_1 {
  from {
    left: 133.33333px;
  }
  to {
    left: 66.66667px;
  }
}
.game_6.column_from_2_to_2 {
  left: 133.33333px;
}

.game_6.column_from_2_to_3 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_2_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_2_to_3 {
  from {
    left: 133.33333px;
  }
  to {
    left: 200px;
  }
}
.game_6.column_from_2_to_4 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_2_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_2_to_4 {
  from {
    left: 133.33333px;
  }
  to {
    left: 266.66667px;
  }
}
.game_6.column_from_2_to_5 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_2_to_5;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_2_to_5 {
  from {
    left: 133.33333px;
  }
  to {
    left: 333.33333px;
  }
}
.game_6.column_from_3_to_0 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_3_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_3_to_0 {
  from {
    left: 200px;
  }
  to {
    left: 0px;
  }
}
.game_6.column_from_3_to_1 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_3_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_3_to_1 {
  from {
    left: 200px;
  }
  to {
    left: 66.66667px;
  }
}
.game_6.column_from_3_to_2 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_3_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_3_to_2 {
  from {
    left: 200px;
  }
  to {
    left: 133.33333px;
  }
}
.game_6.column_from_3_to_3 {
  left: 200px;
}

.game_6.column_from_3_to_4 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_3_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_3_to_4 {
  from {
    left: 200px;
  }
  to {
    left: 266.66667px;
  }
}
.game_6.column_from_3_to_5 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_3_to_5;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_3_to_5 {
  from {
    left: 200px;
  }
  to {
    left: 333.33333px;
  }
}
.game_6.column_from_4_to_0 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_4_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_4_to_0 {
  from {
    left: 266.66667px;
  }
  to {
    left: 0px;
  }
}
.game_6.column_from_4_to_1 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_4_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_4_to_1 {
  from {
    left: 266.66667px;
  }
  to {
    left: 66.66667px;
  }
}
.game_6.column_from_4_to_2 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_4_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_4_to_2 {
  from {
    left: 266.66667px;
  }
  to {
    left: 133.33333px;
  }
}
.game_6.column_from_4_to_3 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_4_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_4_to_3 {
  from {
    left: 266.66667px;
  }
  to {
    left: 200px;
  }
}
.game_6.column_from_4_to_4 {
  left: 266.66667px;
}

.game_6.column_from_4_to_5 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_4_to_5;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_4_to_5 {
  from {
    left: 266.66667px;
  }
  to {
    left: 333.33333px;
  }
}
.game_6.column_from_5_to_0 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_5_to_0;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_5_to_0 {
  from {
    left: 333.33333px;
  }
  to {
    left: 0px;
  }
}
.game_6.column_from_5_to_1 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_5_to_1;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_5_to_1 {
  from {
    left: 333.33333px;
  }
  to {
    left: 66.66667px;
  }
}
.game_6.column_from_5_to_2 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_5_to_2;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_5_to_2 {
  from {
    left: 333.33333px;
  }
  to {
    left: 133.33333px;
  }
}
.game_6.column_from_5_to_3 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_5_to_3;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_5_to_3 {
  from {
    left: 333.33333px;
  }
  to {
    left: 200px;
  }
}
.game_6.column_from_5_to_4 {
  animation-duration: 0.30s;
  animation-name: game_6column_from_5_to_4;
  animation-fill-mode: forwards;
}

@keyframes game_6column_from_5_to_4 {
  from {
    left: 333.33333px;
  }
  to {
    left: 266.66667px;
  }
}
.game_6.column_from_5_to_5 {
  left: 333.33333px;
}
